/Kollegium.class
/KollegiumApp.class
/KollegiumFrame$1.class
/KollegiumFrame$10.class
/KollegiumFrame$11.class
/KollegiumFrame$2.class
/KollegiumFrame$3.class
/KollegiumFrame$4.class
/KollegiumFrame$5.class
/KollegiumFrame$6.class
/KollegiumFrame$7.class
/KollegiumFrame$8.class
/KollegiumFrame$9.class
/KollegiumFrame.class
/Lehrer.class
/LehrerTaktTableModel.class
